.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.App.Dragger {
	/* padding: 0 20px; */
}

.download-button {
	position: fixed;
	bottom: 50px;
	right: 30px;
}


.dragger-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dragger-wrapper {
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
}

.edit-table {
	flex: 1;
	margin: 20px 30px 0 30px;
}

.table-actions {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}

footer {

}
