.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.App.Dragger {
	/* padding: 0 20px; */
}

.download-button {
	position: fixed;
	bottom: 50px;
	right: 30px;
}


.dragger-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dragger-wrapper {
	max-width: 800px;
	margin: 0 auto;
	width: 100%;
}

.edit-table {
	flex: 1;
	margin: 20px 0 30px;
}

.table-actions {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}

footer .links a:not(:first-of-type) {
	margin-left: 8px;
}

.block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons {
	margin-bottom: 16px;
}

.buttons button:not(:last-of-type) {
	margin-right: 10px;
}

.instruction pre {
	
}

.container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
